// this file is for over writing the theme properties of the default servoy properties file.
@import 'servoy_theme.less?version=2023.3.0_ng2';

/* START General */
/* START Sidenav */
/* START Navbar */

@navbar-bg: #3e454c; // default:@main-color

@navbar-text-color: #37a6c4; // default:@main-color-inverse
/* START Tabs */
/* START Windows */
/* START Dialogs */
/* START Tables */
/* START Breadcrumb specific style */
/* START Brand colors */
/* START Validations */
/* START Margins and Padding */
.bts-extra-navbar.bts-navbar-default .navbar-brand {
    padding-left: 30px;
    padding-top: 18px;
    margin-bottom : 10px;
    height : 50px;
      	
}
.svy-sidenav.svy-sidenav-left {
    float: left;
    margin-block-start: -5px;
}
.svy-sidenav-item {
    font-size: 14px;
}

