/*.stat-panel {
    padding: 20px;
    border-radius: 4px;
}

.stat-panel-number {
    font-weight: bold;
    margin-bottom: 10px;
}

.stat-panel-title {
    font-size: 12px;
    letter-spacing: 1px;
}

.bk-primary {
    background-color: #007bff;
}

.text-light {
    color: #ffffff;
}*/
